/* font-family: 'Playfair Display SC', serif;
font-family: 'Average', serif; */

body {
    font-family: 'Playfair Display SC', serif;
}

p {
    font-family: 'Average', serif;
}

.navbar {
    /* box-shadow: 0px 3px 5px rgb(235, 122, 1); */

    border-bottom: 2px solid orange;
}

.margin-top {
    /* margin-top on md or smaller 
    mt-5 was niet genoeg*/
    margin-top: 70px;
}

*/ h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display SC", serif;
}